body{
  font-family: 'Josefin Slab', serif;
  margin: 0;
  text-align: center;
}

h1{
  color: #064420;
  font-family: 'Niconne', cursive;
  font-size: 4.5rem;
  margin: 0;
  padding-top: 100px
}

h2{
  color: #046582;
  font-family: 'Roboto', sans-serif;
  margin: 40px;
}

h3{
  color: #046582;
  font-family: 'Roboto', sans-serif;
  margin: 40px;
}

hr{
  border-color: #fffbdf;
  border-style: dotted none none none;
  border-width: 5px;
  margin: 50px auto;
  width: 5%;
}

.top-box{
  background-color: #845460;
  position: relative;
}

.cloud1{
  left: 300px;
  position: absolute;
  top: 10px;
}

.cloud2{
  position: absolute;
  right: 300px;
  top: 10px;
}

.comment-title{
  color: #064420;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 3rem;
}

.waterfall{
  height: 450px;
  position: relative;
  right: 160px;
  width:450px;
}

.valley{
  height: 500px;
  position: relative;
  left: 150px;
  top: 85px;
}

.middle-box{
  background-color: #ead3cb;
  padding: 0 0 20px 0;
}

.richard{
  border-radius: 100%;
  padding-top: 50px;
  width: 30%;
}

.profile{
  line-height: 1.5;
  margin: 0 auto 0 auto;
  width: 50%;
}

.skill-row{
  line-height: 1.5;
  margin: 50px auto 50px auto;
  width: 50%;
  text-align: left;
}

.sure{
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.marmaset{
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.email {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #BBFFB5;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #064420;
   border: solid #FFFBDF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.bottom-box{
  background-color: #bdc7c9;
  padding: 20px 0 20px 0;
}

.bottom-box a {
  color: #fffbdf;
  text-decoration: none;
}
